parameters:
    level: 5
    paths:
        - src
    autoload_files:
    excludes_analyse:
        - %currentWorkingDirectory%/src/Leevel/Cache/Redis/PhpRedis.php
        - %currentWorkingDirectory%/src/Leevel/Kernel/Utils/doc.errorlog.php
        - %currentWorkingDirectory%/src/Leevel/Kernel/Utils/doc.errorlog.php
    bootstrap: %currentWorkingDirectory%/phpstan-bootstrap.php
    ignoreErrors:
        - '#Unsafe usage of new static\(\)\.#'
        - '#Access to undefined constant Leevel\\Database\\Ddd\\Entity::#'
        - '#Class Phinx\\Console\\Command\\SeedRun referenced with incorrect case: Phinx\\Console\\Command\\Seedrun.#'
        - '#Instantiated class League\\Flysystem\\Sftp\\SftpAdapter not found.#'
        - '#Instantiated class League\\Flysystem\\ZipArchive\\ZipArchiveAdapter not found.#'
        - '#Method Leevel\\Support\\IArray::toArray\(\) invoked with 3 parameters, 0 required.#'
        - '#Call to an undefined method Exception::getStatusCode\(\).#'
        - '#Call to an undefined method Exception::getHeaders\(\).#'
        - "#Cannot access offset [\\S\\s]+ on Leevel\\\\Di\\\\IContainer.#"
        - '#Cannot access an offset on Closure.#'
        - '#Cannot assign new offset to Closure.#'
        - '#Method Leevel\\Debug\\Debug::[a-zA-Z0-9\\_]+\(\) should return [\S\s]+ but returns DebugBar\\DataCollector\\DataCollectorInterface.#'
        - '#Method Leevel\\Event\\Observer::convertSubject\(\) should return Leevel\\Event\\Subject but returns SplSubject.#'
        - '#Method Leevel\\Filesystem\\Filesystem::setOption\(\) should return Leevel\\Filesystem\\IFilesystem but returns \$this\(Leevel\\Filesystem\\Filesystem\).#'
        - '#Method Leevel\\Filesystem\\Sftp::makeAdapter\(\) should return League\\Flysystem\\AdapterInterface but returns League\\Flysystem\\Sftp\\SftpAdapter.#'
        - '#Method Leevel\\Filesystem\\Zip::makeAdapter\(\) should return League\\Flysystem\\AdapterInterface but returns League\\Flysystem\\ZipArchive\\ZipArchiveAdapter.#'
        - '#Method Leevel\\Kernel\\Proxy\\App::proxyContainer\(\) should return Leevel\\Di\\Container but returns Leevel\\Di\\IContainer.#'
        - '#Method Leevel\\Kernel\\Utils\\IdeHelper::convertReflectionMethod\(\) should return ReflectionMethod but returns ReflectionFunctionAbstract.#'
        - '#Method Leevel\\Kernel\\Utils\\IdeHelper::convertReflectionNamedType\(\) should return ReflectionNamedType but returns ReflectionType.#'
        - '#Method Leevel\\Log\\Log::setOption\(\) should return Leevel\\Log\\ILog but returns \$this\(Leevel\\Log\\Log\).#'
        - '#Method Leevel\\View\\View::setOption\(\) should return Leevel\\View\\IView but returns \$this\(Leevel\\View\\View\).#'
        - '#Anonymous function should return Leevel\\Throttler\\Throttler but returns Leevel\\Throttler\\IThrottler.#'
        - '#Method Leevel\\Protocol\\Server::setOption\(\) should return Leevel\\Protocol\\IServer but returns \$this\(Leevel\\Protocol\\Server\).#'
        - '#Right side of && is always#'
        - '#Negated boolean expression is always true.#'
        - '#Parameter \#2 \$algo of function password_hash expects string|null, int given.#'