parameters:
    level: 3
    paths:
        - src
        #- tests
    autoload_files:
    excludes_analyse:
        - %currentWorkingDirectory%/src/Leevel/Cache/Redis/PhpRedis.php
        - %currentWorkingDirectory%/src/Leevel/Kernel/Utils/doc.errorlog.php
        - %currentWorkingDirectory%/src/Leevel/Kernel/Utils/doc.errorlog.php
    bootstrap: %currentWorkingDirectory%/phpstan-bootstrap.php
    ignoreErrors:
        - '#Unsafe usage of new static\(\)\.#'
        - '#Access to undefined constant Leevel\\Database\\Ddd\\Entity::#'
        - '#Class Phinx\\Console\\Command\\SeedRun referenced with incorrect case: Phinx\\Console\\Command\\Seedrun.#'
        - '#Instantiated class League\\Flysystem\\Sftp\\SftpAdapter not found.#'
        - '#Instantiated class League\\Flysystem\\ZipArchive\\ZipArchiveAdapter not found.#'
        - '#Method Leevel\\Support\\IArray::toArray\(\) invoked with 3 parameters, 0 required.#'
        - '#Call to an undefined method Exception::getStatusCode\(\).#'
        - '#Call to an undefined method Exception::getHeaders\(\).#'
        - "#Cannot access offset [\\S\\s]+ on Leevel\\\\Di\\\\IContainer.#"
        - '#Cannot access an offset on Closure.#'
        - '#Cannot assign new offset to Closure.#'
        - '#Method Leevel\\Debug\\Debug::[a-zA-Z0-9\\_]+\(\) should return [\S\s]+ but returns DebugBar\\DataCollector\\DataCollectorInterface.#'
        - '#Method Leevel\\Event\\Observer::convertSubject\(\) should return Leevel\\Event\\Subject but returns SplSubject.#'
